---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Substance &middot; Towards open digital publishing</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon'/>
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'/>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'/>
</head>
<body>
  <div id='container'>
    <div id="header">
      <div class="navigation">
        <a href="/{{site.baseurl}}" class="title">Substance</a><span class="subtitle">Towards open digital publishing.</span>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      This open sourced site is hosted on <a href="http://github.com/substance/substance.github.com">GitHub</a>.
    </div>
  </div>
</body>
</html>
