---
layout: default
---

<div class="modules">
  {% include menu.html %}
  <div class="article-navigation">
    {% for item in site.categories.modules reversed limit:40 offset:0 %}
      <a class="article-link{% if page.title == item.title %} active{% endif %}" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
        <div class="title" style="padding-top: 43px">{{item.title}}</div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="intro">
  <div class="title">{{page.title}}</div>
  <div class="abstract">{{page.abstract}}</div>

  <div class="meta">
    Contributors:
    {% for item in page.contributors %}
      <a class="article-link" href="http://github.com/{{item.user}}">
        {{ item.name }}
      </a>
    {% endfor %}
  </div>
  <!--<div class="meta"> Posted by <a href="http://twitter.com/{{page.author_twitter}}">{{page.author}}</a> on {{ page.date | date: "%B %d, %Y" }} </div>-->
</div>

<div class="article-wrapper">
  <div class="help post-content">
    {{ content }}
  </div>
</div>

<div class="improve-article-wrapper">
  <div class="improve-article">
    <a class="button" href="http//prose.io/foo/bar">Edit in Prose</a>
    <p>
      This article has been written and published using <a href="http://prose.io">Prose</a>. Please help improving this documentation by contributing to the text.
    </p>
  </div>
</div>